APP_NAME=opendigitaltwins-dm
ENV_FILE=app/.env
MONGO_DATABASE=<yourdb>
MONGO_URI=mongodb+srv://<user>:<passwd>@<mongohost>/<yourdb>?retryWrites=true&w=majority
STORE_TYPE=s3 (or fs)
AWS_S3_BUCKET=<yourbucket>
AWS_S3_REGION=<yourS3region>
AWS_CREDENTIALS=.aws/credentials
FS_HOST=<remote/localFSost>
FS_PATH=<FSpath>
