{% extends "index.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Image of {{ img['title'] }}</h3>
  <div class="row">
	<div class="card horizontal">
      <div class="card-image">
	{% if img['store_type'] == 'fs' %}
	  <img class="materialboxes" width="100%" src="{{ c['host'] }}{{ c['path'] }}{{ img['objecthash'] }}.{{ img['extension'] }}" />
	</a>
	{% elif img['store_type'] == 's3' %}
	  <img class="materialboxes" width="100%" src="https://myhstore.s3.eu-west-3.amazonaws.com/{{ img['objecthash'] }}.{{ img['extension'] }}" />
	</a>
	{% endif %}

      </div>
    </div>


      <div class="card-stacked">
        <div class="card-content">      
	<table class="highlight">
	<tbody>
	  <tr>
            <td><b>Title</b></td>
            <td>{{ img['title'] }}</td>
	  </tr>
	  <tr>
            <td><b>Description</b></td>
            <td>{{ img['description'] }}</td>
	  </tr>
	  <tr>
            <td><b>Author</b></td>
            <td>{{ img['author'] }}</td>
	  </tr>
	  <tr>
            <td><b>Project</b></td>
            <td>{{ img['project'] }}</td>
	  </tr>
	  <tr>
            <td><b>Year</b></td>
            <td>{{ img['year'] }}</td>
	  </tr>
	  <tr>
            <td rowspan="2"><b>Coordinates</b></td>
            <td>Latitude: {{ img['coordinates']['latitude'] }} </td>
	  </tr>
	  <tr>
            <td>Longitude: {{ img['coordinates']['longitude'] }} </td>
	  </tr>
	  <tr>
            <td><b>File name</b></td>
            <td>{{ img['filename'] }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, options);
  });
</script>
{% endblock %}
