{% extends "index.html" %}

{% block content %}
<div class="container">
  <h3>Image of {{ img['title'] }}</h3>
  <div class="row">
    <div class="col s12 m4">
      {% if img['store_type'] == 'fs' %}
      <img class="materialboxed responsive-img z-depth-1" width="100%" src="{{ c['host'] }}{{ c['path'] }}{{ img['objecthash'] }}.{{ img['extension'] }}" />
      {% elif img['store_type'] == 's3' %}
      <img class="materialboxed responsive-img z-depth-1" width="100%" src="https://myhstore.s3.eu-west-3.amazonaws.com/{{ img['objecthash'] }}.{{ img['extension'] }}" />
      {% endif %}
    </div>

    <div class="col s12 m8">
      <table class="highlight hoverable">
	<tbody>
	  <tr>
            <td><b>Title</b></td>
            <td>{{ img['title'] }}</td>
	  </tr>
	  <tr>
            <td><b>Description</b></td>
            <td>{{ img['description'] }}</td>
	  </tr>
	  <tr>
            <td><b>Author</b></td>
            <td>{{ img['author'] }}</td>
	  </tr>
	  <tr>
            <td><b>Project</b></td>
            <td>{{ img['project'] }}</td>
	  </tr>
	  <tr>
            <td><b>Year</b></td>
            <td>{{ img['year'] }}</td>
	  </tr>
	  <tr>
            <td rowspan="2"><b>Coordinates</b></td>
            <td>Latitude: {{ img['coordinates']['latitude'] }} </td>
	  </tr>
	  <tr>
            <td>Longitude: {{ img['coordinates']['longitude'] }} </td>
	  </tr>
	  <tr>
            <td><b>File name</b></td>
            <td>{{ img['filename'] }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $('.materialboxed').materialbox();
  });
</script>
{% endblock %}


