{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h3>3D Model of {{ obj['title'] }}</h3>
  <div class="row">
    <div class="col s12 m4">
      <a class="waves-effect waves-light btn" href="3dviewer/assembler.php?oid={{ obj['_id'] }}" target="_blank"><i class="material-icons left">visibility</i>3D Viewer</a>
    </div>

    <div class="col s12 m8">
      <table class="highlight hoverable">
	<tbody>
	  <tr>
            <td><b>Title</b></td>
            <td>{{ obj['title'] }}</td>
	  </tr>
	  <tr>
            <td><b>Description</b></td>
            <td>{{ obj['description'] }}</td>
	  </tr>
	  <tr>
            <td><b>Author</b></td>
            <td>{{ obj['author'] }}</td>
	  </tr>
	  <tr>
            <td><b>Project</b></td>
            <td>{{ obj['project'] }}</td>
	  </tr>
	  <tr>
            <td><b>Year</b></td>
            <td>{{ obj['year'] }}</td>
	  </tr>
	  <tr>
            <td rowspan="2"><b>Coordinates</b></td>
            <td>Latitude: {{ obj['coordinates']['latitude'] }} </td>
	  </tr>
	  <tr>
            <td>Longitude: {{ obj['coordinates']['longitude'] }} </td>
	  </tr>
	  <tr>
            <td><b>File name</b></td>
            <td>{{ obj['filename'] }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
