{% extends "layout.html" %}

{% block content %}
<div class="row container">
  <div class="section">
    <div class="card blue-grey darken-1 z-depth-3">
      <div class="card-content white-text">
	<span class="card-title">PoC of ENEA Open DigitalHeritage ecosystem</span>
	<p>This is the Proof of Concept of the ENEA Open Digital Heritage ecosystem, a microservices based tool to store, manage and visualize etherogeneus data from Cultural Heritage and heritage science activities and reasearchs.</p>
	<p>This work is the result of the first ENEA Heritage Science 2021 Internship in collaboration with the <a href="http://www.diag.uniroma1.it/en" target="_blank">Department of Computer, Control, and Management Engineering  Antonio Ruberti (DIAG) of Sapienza University of Rome</a>.
	<p>For more info about the software architecture, please refer to documentation in the software repository.</p>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="row container">
  <div class="section">
    <div class="card">
      <div class="card-content">
	<span class="card-title">How to use it?</span>
	<ul class="collapsible">
	  <li>
	    <div class="collapsible-header"><i class="material-icons">inventory</i>Inventory</div>
	    <div class="collapsible-body"><span>Get a complete list of all stored objects.</span></div>
	  </li>
	  <li>
	    <div class="collapsible-header"><i class="material-icons">upload</i>New Upload</div>
	    <div class="collapsible-body"><span>Upload your data. You can choose to upload pubblications, images and 3D models by filling in the provided forms for metadata.</span></div>
	  </li>
	  <li>
	    <div class="collapsible-header"><i class="material-icons">search</i>Search</div>
	    <div class="collapsible-body"><span>Make query on database with <em>full text search</em> support.</span></div>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
