{% extends "layout.html" %}

{% block head %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin="">
</script>
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Inventory</h3>
  <div class="row">
    <div id="map" style="width: 100%; 
			 height: 400px;"></div>
    <script src="{{ url_for('static', filename='js/basemap.js') }}"></script>

  </div>
  <div class="row">
    <table class="highlight hoverable responsive-table">
      <thead class="thead-dark">
	<tr>
	  <th scope="col">Title</th>
	  <th scope="col">Project</th>
	  <th scope="col">Year</th>
          <th scope="col">Project URL</th>
	  <th scope="col" style="text-align:center">Object Type</th>
	  <th scope="col">View</th>
	</tr>
      </thead>
      <tbody>
	{% for r in result %}
	<script type="text/javascript">
	  marker = new L.marker([{{ r['location']['coordinates'][1] }}, {{ r['location']['coordinates'][0] }}])
    .addTo(mymap)
    .bindPopup("{{ r['title'] }}");
	</script>
	<tr>
	  <td>{{ r['title'] }}</td>
	  <td>{{ r['project_name'] }}</td>
	  <td>{{ r['project_year'] }}</td>
	  {% if r['project_url'] %}
	  <td><a class="waves-effect waves-teal btn-flat" target="_blank" href="{{ r['project_url'] }}"><i class="material-icons">link</i></a></td>
	  {% else %}
	  <td><a class="waves-effect waves-teal btn-flat"><i class="material-icons">link_off</i></a></td>
	  {% endif %}
	  {% if r['objtype'] == '3dmodel' %}
	  <td style="text-align:center"><i class="material-icons">view_in_ar</i></td>
	  <td><a class="waves-effect waves-light btn" href="{{ url_for('getObj', ID=r['ID']) }}"><i class="material-icons">visibility</i></a></td>
	  {% elif r['objtype'] == 'image'  %}
	  <td style="text-align:center"><i class="material-icons">image</i></td>
	  <td><a class="waves-effect waves-light btn" href="{{ url_for('getImg', ID=r['ID']) }}"><i class="material-icons">visibility</i></a></td>
	  {% elif r['objtype'] == 'publication' %}
	  <td style="text-align:center"><i class="material-icons">picture_as_pdf</i></td>
	  <td><a class="waves-effect waves-light btn" href="{{ url_for('getPub', ID=r['ID']) }}"><i class="material-icons">visibility</i></a></td>
	  {% endif %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
