{% block head  %}
<title>Open Digital Twins</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='imgs/favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='imgs/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='imgs/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='imgs/favicon/site.webmanifest') }}">
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/collapse.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}



{% block navbar %}
<!-- Dropdown Structure -->
<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ url_for('insertPUB') }}">Publication<i class="material-icons">article</i></a></li>
    <li><a href="{{ url_for('insertIMG') }}">Image<i class="material-icons">image</i></a></li>
    <li><a href="{{ url_for('insertMODEL') }}">3D Model<i class="material-icons">view_in_ar</i></a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="{{ url_for('search', coll='pubs', obj='Pubblications') }}">Publication<i class="material-icons">article</i></a></li>
    <li><a href="{{ url_for('search', coll='imgs', obj='Images') }}">Image<i class="material-icons">image</i></a></li>
    <li><a href="{{ url_for('search', coll='models', obj='3D Models') }}">3D Model<i class="material-icons">view_in_ar</i></a></li>
    <li><a href="{{ url_for('search', coll='inventory', obj='Inventory') }}">Inventory<i class="material-icons">inventory</i></a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="{{ url_for('static', filename='imgs/eodt_logo_w.png') }}" width="250" height="auto"></a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
	<li><a href="{{ url_for('index') }}">Home<i class="material-icons left">home</i></a></li>
	<li><a href="{{ url_for('getInventory') }}">Inventory<i class="material-icons left">inventory</i></a></li>
	<!-- Dropdown Trigger -->
	<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">New Upload<i class="material-icons left">upload</i></a></li>
	<li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Search<i class="material-icons left">search</i></a></li>
      </ul>
    </div>
  </nav>
</div>
   <ul class="sidenav" id="mobile">
     <li class="logo"><a href="#!" class="brand-logo">ENEA OpenDigitalTwins</a></li>
	<li><a href="{{ url_for('index') }}">Home<i class="material-icons left">home</i></a></li>
	<li><a href="{{ url_for('getInventory') }}">Inventory<i class="material-icons left">inventory</i></a></li>
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">New Upload<i class="material-icons left">upload</i></a>
            <div class="collapsible-body">
                <ul id="" class="">
		  <li><a href="{{ url_for('insertPUB') }}">Publication<i class="material-icons">article</i></a></li>
		  <li><a href="{{ url_for('insertIMG') }}">Image<i class="material-icons">image</i></a></li>
		  <li><a href="{{ url_for('insertMODEL') }}">3D Model<i class="material-icons">view_in_ar</i></a></li>
                </ul>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Search<i class="material-icons left">search</i></a>
            <div class="collapsible-body">
                <ul id="" class="">
		  <li><a href="{{ url_for('search', coll='pubs', obj='Pubblications') }}">Publication<i class="material-icons">article</i></a></li>
		  <li><a href="{{ url_for('search', coll='imgs', obj='Images') }}">Image<i class="material-icons">image</i></a></li>
		  <li><a href="{{ url_for('search', coll='models', obj='3D Models') }}">3D Model<i class="material-icons">view_in_ar</i></a></li>
		  <li><a href="{{ url_for('search', coll='inventory', obj='Inventory') }}">Inventory<i class="material-icons">inventory</i></a></li>
                </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>

{% endblock %}



{% block content %}{% endblock %}



{% block footer %}
<!-- <div class="container"> -->
<footer class="page-footer green lighten-5">
  <div class="row">
    <div class="col offset-l2 l4 s12">
      <a href="https://www.enea.it" target="_blank"><img src="{{ url_for('static', filename='imgs/logo_enea.png') }}" alt="ENEA logo" class="hoverable" width="100"></a>
    </div>
    <div class="col l4 offset-l2 s12">
      <a href="https://github.com/mpuccini/poc-eneahs" target="_blank">Get source code <i class="material-icons">code</i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://heritagescience.portici.enea.it">ENEA OpenDigitalTwins</a> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p> 
    </div>
  </div>
</footer>
<!-- </div> -->
{% endblock %}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script>
      $( document ).ready(function(){
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
        $(".dropdown-trigger").dropdown({ hover: true, constrainWidth: false });
      });
</script>

{% block scripts %}{% endblock %}

