{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h3>Search in {{ obj }}</h3>
  <div class="row">
    <form method="post" action="" validate>
      {{ form.csrf_token() }}
      <div class="input-field">
	<i class="material-icons prefix">search</i>
	{{ form.query.label }}
	{{ form.query(type="search")|safe }}
        <i class="material-icons">close</i>
      </div>
    </form>

    <!--      <form method="post">
	      {{ form.csrf }}
	      <div class="row">
		<div class="input-field col s12">
		  <input id="query" type="text" class="active validate" required/>
		  <label for="query"><i class="material-icons left">search</i>Query</label>
		</div>
		<button class="btn waves-effect waves-light" type="submit" value="Submit">Submit
		  <i class="material-icons right">send</i>
		</button>
    </form> -->
    </div>
  </div>
</div>
{% endblock %}
