{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
<title>HeritageScience</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/d906718c2b.js" crossorigin="anonymous"></script>
</script>
{{super()}}
{% endblock %}


{% block content %}
<div class="container">
  <h1>PoC of ENEA heritagescience platform data module</h1>
  <h2>ENEA Heritage Science Internship 2021</h2>
  <hr>
  <h3>Upload new Publication</h3>
  {{ wtf.quick_form(form) }}
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a href="https://www.enea.it" target="_blank"><img src="{{ url_for('static', filename='imgs/logo_enea.png') }}" alt="ENEA logo" class="img-rounded" width="100"></a>
    </div>
    <div class="col-md-4">
      <a href="https://github.com/mpuccini/poc-eneahs" target="_blank">Get source code <i class="fab fa-github"></i></a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('index') }}"><button type="button" class="btn btn-success">Back</button></a>
    </div>
  </div>
</div>
{% endblock %}
